<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Example 00</title>

    <script src="https://cdng02.plus4u.net/b686718ad49d3ec4d88936576cd830c2/uu-uu5loaderg01/1.x/uu5loaderg01.min.js" crossorigin></script>
    <script src="https://cdng02.plus4u.net/b686718ad49d3ec4d88936576cd830c2/uu-uu5g05/1.x/assets/example-config.js" crossorigin></script>

    <style>
      body {
        padding: 16px 32px;
      }
    </style>
  </head>
  <body>
    <div id="uu5">Loading...</div>

    <script type="text/babel">
      import { createComponent, createVisualComponent, Utils, useState } from "uu5g05";
      import Uu5Elements from "uu5g05-elements";
      import Uu5Forms from "uu5g05-forms";
      import { Config, wait } from "uu5g05-dev";
      import { UuDate } from "uu_i18ng01";

      const Calls = {
        async getItemAvailability() {
          // could check on backend; for demo we'll simply wait and return a value
          await wait();
          return { maxAvailable: 5 };
        },
      };

      const BuyModal = createVisualComponent({
        render(props) {
          let deliveryDateMin = new UuDate();
          deliveryDateMin.setDay(deliveryDateMin.getDay() + 3, 0, 0, 0, 0);

          return (
            /*@@viewOn:example*/
            <Uu5Forms.Form.Provider
              onSubmit={(e) => {
                if (!navigator.onLine) throw new Error("Demo submit error example.");
                alert("Submitted with values:\n" + JSON.stringify(e.data.value, null, 2));
                props.onClose();
              }}
            >
              <Uu5Elements.Modal
                {...props}
                header="Buy a T-shirt"
                info="Buy a Red Monster T-shirt in a limited edition and win one of interesting presents."
                footer={
                  <Uu5Elements.Grid
                    templateColumns={{ xs: "repeat(2, 1fr)", s: "repeat(2, auto)" }}
                    columnGap={Uu5Elements.UuGds.SpacingPalette.getValue(["fixed", "c"])}
                    justifyContent={{ s: "end" }}
                  >
                    <Uu5Forms.CancelButton onClick={props.onClose} />
                    <Uu5Forms.SubmitButton>Buy</Uu5Forms.SubmitButton>
                  </Uu5Elements.Grid>
                }
              >
                <Uu5Forms.Form.View
                  gridLayout={{
                    xs: `sex, size, count, name, phone, email, destination, deliveryDate, desc, conditions`,
                    s: `
                    sex name,
                    size phone,
                    count email,
                    destination desc,
                    deliveryDate desc,
                    conditions conditions
                  `,
                  }}
                  lsi={{ formLeaveConfirm: { en: "Leave" } }}
                >
                  <Uu5Forms.FormRadios
                    name="sex"
                    label="Gender"
                    itemList={[
                      { value: "man", label: "For Man" },
                      { value: "woman", label: "For Woman" },
                    ]}
                    required
                  />

                  <Uu5Forms.FormSwitchSelect
                    name="size"
                    label="Size"
                    initialValue="M"
                    itemList={[{ value: "S" }, { value: "M" }, { value: "L" }, { value: "XL" }, { value: "XXL" }]}
                  />

                  <Uu5Forms.FormNumber
                    name="count"
                    label="Item count"
                    required
                    min={1}
                    initialValue={1}
                    message="Item count is limited by current stock reserve."
                    onValidate={async (e) => {
                      const { value } = e.data;
                      const { maxAvailable } = await Calls.getItemAvailability();
                      if (value > maxAvailable) {
                        return {
                          messageParams: [maxAvailable],
                          message: {
                            en: "Unfortunately, only %d items are currently available.",
                          },
                        };
                      }
                    }}
                  />

                  <Uu5Forms.FormSelect
                    name="destination"
                    label="Destination"
                    initialValue="prague"
                    itemList={[
                      { value: "prague", children: "Prague" },
                      { value: "plzen", children: "Plzeň" },
                      { value: "hk", children: "Hradec Králové" },
                      { value: "brno", children: "Brno" },
                      { value: "bratislava", children: "Bratislava" },
                      { value: "kosice", children: "Košice" },
                      { value: "kyiv", children: "Kyiv" },
                      { value: "ternopil", children: "Ternopil" },
                    ]}
                  />

                  <Uu5Forms.FormDate
                    name="deliveryDate"
                    label="Preferred delivery date"
                    min={deliveryDateMin.toIsoString()}
                  />

                  <Uu5Forms.FormText name="name" label="Name" placeholder="Name and surname" required />

                  <Uu5Forms.FormText
                    name="phone"
                    label="Phone"
                    iconLeft="uugds-phone"
                    prefix="+420"
                    type="tel"
                    required
                  />

                  <Uu5Forms.FormEmail name="email" label="E-mail" required />

                  <Uu5Forms.FormTextArea name="desc" label="Notes" />

                  <Uu5Forms.FormCheckbox
                    name="conditions"
                    label={
                      <>
                        I agree to <Uu5Elements.Link>Terms and conditions</Uu5Elements.Link>
                      </>
                    }
                    required
                  />
                </Uu5Forms.Form.View>
              </Uu5Elements.Modal>
            </Uu5Forms.Form.Provider>
            /*@@viewOff:example*/
          );
        },
      });

      const Page = createComponent({
        render() {
          const [modalOpen, setModalOpen] = useState(false);
          return (
            <div>
              <Uu5Elements.Button onClick={() => setModalOpen(true)}>Buy a T-shirt</Uu5Elements.Button>
              <BuyModal open={modalOpen} onClose={() => setModalOpen(false)} />
            </div>
          );
        },
      });

      Utils.Dom.render(<Page />, document.getElementById("uu5"));
    </script>
  </body>
</html>
